#menu {
    display: inline-flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

a {
    margin: 10px 0;
}

#play:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 green, 8px -6px 0 1px black;
}

#edit:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 blue, 8px -6px 0 1px black;
}