#control-panel {
    padding: 20px;
}

#loader:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 green, 8px -6px 0 1px black;
}

#template:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 blue, 8px -6px 0 1px black;
}

#back:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 red, 8px -6px 0 1px black;
}

section.editor {
    display: flex;
    padding: 20px;
}

section.editor canvas {
    border: 1px solid black;
    border-radius: 10px;
}

.control-button:first-child {
    margin-top: 0;
}

.control-button {
    margin-top: 10px;
    width: 100%;
}

.add-button:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 green, 8px -6px 0 1px black;
}

.save-button:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 purple, 8px -6px 0 1px black;
}

.delete-button:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 red, 8px -6px 0 1px black;
}

#popup-background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

#popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    text-align: center;

    background-color: white;
    border-radius: 30px;
}

#popup-title {
    user-select: none;
    pointer-events: none;
}

#popup-input {
    width: 80%;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    transform: translate(-8px, 6px);
    box-shadow: 7px -5px 0 0 green, 8px -6px 0 1px black;
}